/*--------------------------------------------------
ALWAYS INCLUDE
--------------------------------------------------*/

* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

/*--------------------------------------------------
BASIC LAYOUT
--------------------------------------------------*/

.container {
	text-align: center;
}

/*--------------------------------------------------
BANNER
--------------------------------------------------*/

.banner {
	color: white;
}

.quote {
	margin: 0;
	padding: 3px;
	background: fuchsia;
}

.title {
	font-style: italic;
	background: rgba(0,0,0,.3);
	color: white;
	margin: 0;
	padding: 5px;
}

.navBar {
	background: rgba(0,0,0,.3);
	padding: 5px;
}

.navATag {
	margin: 0 10px;
	color: white;
}

.navATag:hover {
	text-decoration: none;
}

/*--------------------------------------------------
BASIC LAYOUT
--------------------------------------------------*/

body {
	background: lightgrey;
}

h2 {
	margin: 5px;
}

h4 {
	margin-bottom: 50px;
}

.banner {
	width: 100%;
}

.levelAndNumberHP, .milesAndBarHP, .achievementsContainer, .form {
	border: 2px solid fuchsia;
	box-shadow: 2px 2px grey;
	display: inline-block;
	padding: 5px;
	margin: 25px 0;
	width: 51%;
	background: white;
}

.levelHP {
	border: 2px solid black;
	border-radius: 50%;
	display: inline-block;
	padding: 10px;
	background: fuchsia;
	color: white;
}

.loginInput, .loginButton {
	margin: 5px;
}

.addRunInput, .addRunButton {
	margin: 5px;
}

.faqs {
	border: 1px solid black;
	background: lightyellow;
}